<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel de los Andes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="icon" th:href="@{/css/images/logo2.png}" class="icon"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
         
    <div class="banner-carta">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Consultar consumos de área de un usuario</h2>
                <form action="/hotel/empleado/consumoarea" method="post">
                    <div class="form-group">
                        <label for="usuario">Número de documento del usuario:</label>
                        <input type="number" id="usuario" name="usuario" class="form-control" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Consultar</button>
                        <a href="/hotel/empleado" class="btn btn-secondary ml-2">Volver atrás</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



