<!DOCTYPE html>
<html lang="en" title="Coding design">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel de los Andes</title>
    <link rel="icon" th:href="@{/css/images/logo2.png}" class="icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}" />
</head>

<body>
    <main class="table">
        <section class="table__header">
            <h1>Índice de Ocupación</h1>
            <div class="table__buttons">
                <a th:href="@{/gerente}" class="custom-button">Volver Atrás</a>
           </div>
        </section>
        <section class="table__body">
            <table>
               <thead>
                   <tr>
                    <th style="color: white;">habitacion</th>
                    <th style="color: white;">Porcentaje de ocupacion</th>
                   </tr>
               </thead>                
                </thead>
                <tbody>
                    <th:block th:each="habitacion : ${resultados}">
                        <tr>
                            <td th:text="${habitacion.habitacion}"></td>
                            <td th:text="${habitacion.indice_ocupacion}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>