<!DOCTYPE html>
<html lang="en" title="Coding design">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel de los Andes</title>
    <link rel="icon" th:href="@{/css/images/logo2.png}" class="icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}" />
</head>

<body>
    <main class="table">
        <section class="table__header">
            <h1>Tienda</h1>
            <div class="table__buttons">
                <a th:href="@{tiendas/new}" class="custom-button">Agregar</a>
                <a th:href="@{tiendas/productos/new}" class="custom-button">Agregar productos</a>
                <a th:href="@{/administrador/servicios}" class="custom-button">Volver Atrás</a>
           </div>
        </section>
        <section class="table__body">
            <table>
               <thead>
                   <tr>
                        <th style="color: white;">Tipo tienda</th>
                        <th style="color: white;">Nombre</th>
                        <th style="color: white;">Producto</th>
                        <th style="color: white;">Acciones</th>
                        <th style="color: white;">Acciones sobre productos</th>
                   </tr>
               </thead>                
                </thead>
                <tbody>
                    <th:block th:each="tipo:${servicios}">
                        <th:block th:each="producto:${tipo.listaProductos}">
                        <tr>
                            <td th:text = "${tipo.tipoTienda}"></td>
                            <td th:text = "${tipo.nombre}"></td>
                            <td th:text = "${producto}"></td>
                            <td>
                                <a th:href="@{tiendas/{id}/edit(id=${tipo.id})}" class="no-underline">Editar</a>
                                <a th:href="@{tiendas/{id}/delete(id=${tipo.id})}" class="no-underline">Eliminar</a>
                            </td>          
                            <td>
                                <a th:href="@{tiendas/productos/{id}/{producto}/edit(id=${tipo.id},producto=${producto})}" class="no-underline">Editar</a>
                                <a th:href="@{tiendas/productos/{id}/{producto}/delete(id=${tipo.id},producto=${producto})}" class="no-underline">Eliminar</a>
                            </td>      
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>