<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div th:fragment = "AgregarProductosForm(titulo)" class="container border border-2 w-25">
        <h1 th:text = "${titulo}" class="text-center"></h1>
    <form>

    <label class="col-form-label" for="tipo">Bares: </label>
    <select class="form-control" id="id" name="id" required >
        <th:block th:each="tipo : ${servicios}" >
            <option th:value="${tipo.id}" th:text="${tipo.nombre}" ></option>
        </th:block>
    </select><br>

                
    <label  class="col-form-label">Producto:</label>
    <input class="form-control" type="text" id="producto" name="producto" required />

    <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary"/>
        <a th:href="@{/..}" class="btn btn-primary">Cancelar</a>
    </div>

    </form>
    </div>
</body>
</html>